.personal-icon {
  display: flex;
  align-self: center;
  margin-right: 4px;
}

.personal-icon[data-icon="folder-closed"] {
  display: none;
}

.tree-item.nav-folder.is-collapsed
  > .tree-item-self
  > .personal-icon[data-icon="folder-open"] {
  display: none;
}

.tree-item.nav-folder.is-collapsed
  > .tree-item-self
  > .personal-icon[data-icon="folder-closed"] {
  display: flex;
}
